doctype html
html(lang="en")
  head
    title= "Task Details"
  body
    h1 You are viewing task #{id}
    p Task title: #{title}
    p #{userName} responsible for this task
    p Task status: "#{completed}"
